h1{
	text-align: center;
	font-size: 60px;
	padding: 20px;
	color: white;
	text-shadow: 2px 2px black;
	margin-top: 1;
}

h3{
	text-align: center;
}

#hyperLink{
	font-size: 30px;
	font-family:cursive;
	font-synthesis: style;
	background-color: black;
	opacity: 0.8;
	color: ghostwhite;
	border: 2px solid black;
	border-radius: 25px;
	padding: 2px 5px;
	text-decoration: none;

}

body {
	background-image:url("background2.jpeg");
	background-size: cover;
	background-blend-mode:color-burn;
	
}

.other_pages{
	position:absolute;
	bottom: 5px;
	width: 100%;
	background-color: black;
	width: 99%;
	opacity: 0.8;
	border: 2px solid black;
	border-radius: 25px;
	text-align: center;
	transform: translateY(-0.1%);
	object-fit: cover;	
	
}

.summery_text{
	position:absolute;
	height: 68%;
	width: 55%;
	background-color: black;
	opacity: 0.8;
	color: ghostwhite;
	border: 2px solid black;
	border-radius: 25px;
	object-fit: cover;
}

.contact_text{
	align-items: center;
	margin: auto;
	padding: 10px;
	height: 40%;
	width: 30%;
	background-color: black;
	opacity: 0.8;
	color: ghostwhite;
	border: 2px solid black;
	border-radius: 25px;
	object-fit: cover;
}

.main__pic{
    height: 68%;
	width: 40%;
	object-fit: cover;
	border: 1px solid #ddd;
	background-color: gainsboro;
	padding: 5px;
	border-radius: 8px;
	float: right;
	transform: translateX(-5%);
	object-fit: cover;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
  	width: 50%;
	transform: translateX(10%);
}

.image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}
